<h1>Decorations & Accessories</h1>
	<p class="blurb">From decorative grave blankets and centerpieces to wreaths and hangers, Wilson's has everything you need to accent the perfect setting.</p>
		<div id="products">
				<div id="productImage">
					<%= image_tag ('/assets/wreath.png')%>
				</div>
					<h2>Wreaths & Garland</h2>
				<p>Add beautiful decorative touches around your home or office with our quality wreaths and roping. Our wreaths and roping are made with fresh mixed greens of heavy quality. Wreath sizes are available from 12-72in.</p>
				<p>Garland is available by the foot for smaller sections or purchase our 50ft roll for your convenience.</p>
		</div>
		<div id="products">
				<div id="productImage">
					<%= image_tag ('/assets/graveblanket.png')%>
				</div>
					<h2>Grave Blankets</h2>
				<p>Honor your loved ones with a beautiful, heavy quality grave blanket. Available in full or half size, these decorative blankets will add the appropriate touch to help celebrate the life of your loved one.</p>
				<p>These blankets are made to order, so please contact us about the blanket that will suit your individual needs.</p>
		</div>
		<div id="products">
			<div id="productImage">
				<%= image_tag ('/assets/centerpiece.png')%>
			</div>
				<h2>Decorative Pieces</h2>
				<p>Our centerpieces will catch your eye on any table at your party or special occasion.</p>
				<p>Kissing balls can be decorated to accent an personal or professional event.</p>
				<p>Heavy quality materials make our swags stand out as both an indoor and outdoor decorative piece.</p>
		</div>
		<div id="products">
				<div id="productImage">
					<%= image_tag ('/assets/treestand.png')%>
				</div>
					<h2>Accessories</h2>
					<p>We conveniently offer accessories to accompany your high quality purchases. Our tree stands and wreath hangers will add the finishing touch to all of your holiday or decorative needs.</p>
					<p>We also offer cemetery easels to help celebrate the life and honor your loved one.</p>
		</div>