<h1>Contact Us</h1>
	<p class="blurb">We are located in Battle Creek, just a short drive away from Marshall, Albion, Charlotte, Jackson, and Springport!</p>
	<div id="products">
			<div id="productImage">
				<%= image_tag ('/assets/contactimage.gif')%>
			</div>
				<h2>Get in touch with us...</h2>
		<p><b>Phone:</b> (269) 781-2433 | (269) 317-1565</p>
		<p><b>Address:</b> 13769 N Drive North, Battle Creek MI 49014</p>
		<p><b>Social:</b> Find Us On Facebook!</p><div style="float: left; margin-top: -35px; margin-left: 180px;"><%= link_to image_tag('/assets/wilsonfb.png'), ('http://www.facebook.com/pages/Wilsons-Tannenbaum-Farm/167007269977016?ref=ts'), :target => "_blank" %></div>
	</div>
	<div id="googleMap">
	<iframe width="400" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=wilson's+tannenbaum+farm,+marshall+mi&amp;fb=1&amp;gl=us&amp;hq=wilson's+tannenbaum+farm,&amp;hnear=0x8817e2977eec1989:0x47494b2e9d9f5659,Marshall,+MI&amp;cid=0,0,18352440358510125451&amp;ll=42.348246,-85.044619&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=wilson's+tannenbaum+farm,+marshall+mi&amp;fb=1&amp;gl=us&amp;hq=wilson's+tannenbaum+farm,&amp;hnear=0x8817e2977eec1989:0x47494b2e9d9f5659,Marshall,+MI&amp;cid=0,0,18352440358510125451&amp;ll=42.348246,-85.044619&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>