<h1>Holiday Trees</h1>
	<p class="blurb">We have a variety of beautiful trees perfect for any season. Whether you are looking to plant a tree in the Spring or Fall, or looking for the ideal Christmas tree, you'll find it all here.</p>
	<div id="products">
			<div id="productImage">
				<%= image_tag ('/assets/precut.gif')%>
			</div>
				<h2>Pre-Cut Trees</h2>
		<p>We make picking out the perfect Christmas or holiday tree quick and easy! Our retail lot has a wide variety of quality, fresh cut trees shaken and baled to take home.</p>
		<p><b>Varieties Available:</b> Fraser Fir, Blue Spruce, Concolor Fir, Norway Spruce, White Pine, and White Spruce.</p>
	</div>		
	<div id="products">
			<div id="productImage">
				<%= image_tag ('/assets/cutyourown.gif')%>
			</div>
				<h2>Cut Your Own</h2>
			<p>If you'd rather find your own Christmas or holiday tree, we'll give you everything you need to cut your very own!</p><p>Bring your family and friends to select the tree that would be perfect for you. We provide saws and rope to find, cut, and take home your hand-picked tree.</p>
	</div>