<h1>Landscaping Trees</h1>
	<p class="blurb">We offer a great selection of trees all year long! Whether you're looking for a Spring tree for an outdoor space or small potted trees for a new Fall look, we can get exactly what you need.</p>
		<div id="products">
				<div id="productImage">
					<%= image_tag ('/assets/seasonal.png')%>
				</div>
					<h2>Seasonal Trees</h2>
				<p>We have trees available for Spring and Fall planting. They are available in balled and burlapped for you to pick up or they can be transplanted with the tree spade. We can move your trees by the hour or by the tree.</p>
			<p><b>Varieties include:</b> Blue Spruce, White Spruce, Norway Spruce, Concolor Fir, Fraser Fir, White Pine, Cleveland Pear, Red Bud, Eastern Hemlock, and Dawn Redwood.
			</p>
		</div>
		<div id="products">
				<div id="productImage">
					<%= image_tag ('/assets/potted.png')%>
				</div>
					<h2>Potted Trees</h2>
				<p>Along with our standard tree products, we also offer a variety of potted tree options. Because our potted trees come in a variety of sizes and types, you can find the perfect trees to fit in any outdoor or indoor space. Potted trees are available in sizes ranging from 3-6ft and can be delivered right to you.</p>
				<p><b>Varieties include:</b> Fraser Fir, Blue Spruce, Concolor Fir, White Pine, and Eastern Hemlock.
				</p>
		</div>