<h1>Welcome to Wilson's Tannenbaum Farm!</h1>
	<div id="mainCopy">
		<h2>Southern Michigan's wholesale and retail stop for Christmas trees, decorations, wreaths, and much more!</h2>
			<p>Located between Battle Creek and Marshall, Wilson's Tannenbaum Farm offers a great selection of Christmas and holiday trees, decorations, grave blankets, and accessories.</p>
			<p>Holiday Hours: 10:00am - Sunset</p>
			<p>Whether you'd like to cut your own Christmas tree, have our tree spade drop off a tree order for your office, or decorate your home with wreaths and roping, Wilson's Tannenbaum Farm has everything you need to welcome the season.</p>
	</div>
			<%= image_tag('/assets/homeimage.gif')%>