<h1>About Wilson's Tree Farm</h1>
<div id="mainCopy">
	<h2>We have acres of beautiful trees just waiting for you.</h2>
		<p>Offering both wholesale and retail products, our many acres of quality, fresh cut trees provide the best product for your home, office, or event. Surrounded by beautiful Michigan wilderness and ponds, you can roam our grounds for the right tree.</p>
		<p>Located on N Drive in Battle Creek, we offer the whole package. You can cut your own tree or pick from our pre-cut selection, buy wreaths and centerpieces in multiple sizes, get the roping you need for that long porch railing or banister, and even grab the accessories you need for a hassle free experience.</p>
		<p>Just call or stop by and we can discuss all of your needs and place your order!</p>
</div>
		<%= image_tag('/assets/aboutimage.png')%>